.main {
  display: block;

  background: #F3F4F4;
  border-radius: 10px;

  padding: 10px 20px;
  margin-bottom: 10px;

}



.heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  h1 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  img {
    margin-right: 15px;
    background: #fff;
    border-radius: 30px;
  }
}

.text{
  margin-bottom: 10px;
}

.attachments{
  position: relative;
  min-width: 280px;
  height: 280px;
}

.button{

    display: flex;
    background: #B9BBBE ;

    align-items: center;
    padding: 8px;
    border-radius: 8px;

    border: none;

    cursor: pointer;

    .count {
      margin-left: 5px;
    }

    &--liked {
      @extend .button;
      background: #D5573B;
      color: white;
    }

}
